name: Test and Deploy

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      MY_CUSTOM_VARIABLE: "Hello from Build Job!" 
      FILE_PATH: "art-text-cafe.txt" 
    steps:
      - name: Step 1 - Checkout Repository
        uses: actions/checkout@v4

      - name: Step 2 - Copy File
        id: copy-file
        run: |
          cp art-de-text.txt $FILE_PATH

      - name: Step 3 - Display File Contents
        id: display-contents
        run: cat $FILE_PATH

      - name: Step 4 - Append to File
        id: add-new-line
        run: echo "Salut DevOps!" >> art-de-text.txt

      
      - name: Change Working Directory
        run: cd Jobs-Steps-Actions-Py

      - name: Step 5 - Use the upload Artifact Github Action
        if: success()
        uses: actions/upload-artifact@v2
        with:
          name: artifacts_download
          path: .

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
            python-version: 3.11
  
      - name: Install Dependencies
        run: |
                python -m pip install --upgrade pip 
                python -m pip list
                python -m pip install -r requirements.txt
                
      - name: Run Unit Tests
        run: python -m pytest

      - name: Run colors.py
        run: |
          python colors.py 

  test:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Install Ponysay
        run: |
          sudo apt-get update
          sudo snap install ponysay

      - name: Run Ponysay
        run: |
            ponysay "Hello, Ponysay!"

        env:
          MY_CUSTOM_VARIABLE: ${{ env.MY_CUSTOM_VARIABLE }}
  
  